/* media queries variables */
header nav .navbar-menu, .section-title::after {
  transform: translateX(-50%);
  left: 50%;
}

.navbar-open {
  transform: translateY(-50%);
  top: 50%;
}

.contact .contact-info .contact-item, .work .work-container .work-card, .services .services-content .experience-items, .personal .personal-content .box, .skills .skills-content .box, .about .about-boxes .box {
  background-color: hsl(219, 32%, 12%);
  padding: 20px;
  border-radius: 20px;
}

.services .services-content .experience-items ul li::before, .personal .personal-skills li::before, .personal .info li::before {
  position: absolute;
  color: hsl(250, 66%, 75%);
  left: -22px;
  top: 8px;
  display: inline-block;
  font: var(--fa-font-solid);
  transition: 0.4s ease-in-out;
}

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

body, button, textarea, input {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: hsl(219, 48%, 8%);
  margin: 0 !important;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  border: none;
}

.sec-padding {
  padding: 4.5rem 0 1rem;
}

.main {
  overflow: hidden;
}

.section-subtitle {
  color: hsl(219, 4%, 55%);
  font-size: 18px;
  letter-spacing: 1px;
}

.section-title {
  color: hsl(250, 66%, 75%);
  position: relative;
}
.section-title::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: hsl(250, 66%, 75%);
  position: absolute;
  bottom: -20px;
  transition: 0.4s;
}
.section-title:hover::after {
  transform: rotate(180deg) translateX(50%);
}

.scroll-header {
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, 0.3);
}

/* Start Navbar */
header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(219, 48%, 8%);
  z-index: 99;
}
header nav {
  height: 3.5rem;
}
header nav .nav-logo img {
  width: 200px;
}
header nav .navbar-menu {
  bottom: 1rem;
  background-color: hsla(219, 32%, 16%, 0.8);
  width: 75%;
  transition: 0.4s ease-in-out;
  border-radius: 4rem;
  padding: 1rem 2.25rem !important;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
@media (max-width: 767px) {
  header nav .navbar-menu {
    width: 90%;
  }
}
@media (max-width: 575px) {
  header nav .navbar-menu .navbar-list {
    justify-content: center !important;
    gap: 22px;
  }
}
header nav .navbar-menu .navbar-list .navbar-link {
  padding: 0.7rem;
  border-radius: 5rem;
}
header nav .navbar-menu .navbar-list .navbar-link.active-link {
  background: linear-gradient(180deg, hsl(250, 66%, 71%), hsla(250, 66%, 71%, 0.2));
  box-shadow: 0 0 16px hsla(250, 66%, 71%, 0.4);
}
header .change-theme {
  cursor: pointer;
}

/* End Navbar */
/* Start Home */
.home .home-greeting {
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
  color: hsl(219, 15%, 95%);
}
.home .home-title {
  color: rgba(255, 255, 255, 0.7) !important;
  font-style: italic;
}
.home .home-image {
  text-align: center;
}
.home .home-image img {
  background: linear-gradient(180deg, hsl(250, 66%, 71%), hsla(250, 66%, 71%, 0.2));
  border-radius: 20px;
}
@media (max-width: 575px) {
  .home .home-image img {
    width: 95%;
  }
}
.home .home-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  margin: 30px 0;
}
.home .home-social::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: hsl(250, 66%, 75%);
  position: absolute;
  bottom: -20px;
  transition: 0.4s;
}
.home .home-social:hover::after {
  transform: rotate(180deg);
}
.home .home-social .home-social-link {
  background-color: hsl(219, 32%, 12%);
  color: hsl(250, 66%, 75%);
  font-size: 25px;
  padding: 0.25rem;
  margin: 0;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.home .home-social .home-social-link:hover {
  background-color: hsl(250, 66%, 75%);
  color: #fff;
}
.home .home-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  color: hsl(250, 66%, 75%);
}
.home .home-scroll i {
  font-size: 25px;
  cursor: pointer;
}
.home .home-scroll .home-scroll-name {
  margin-right: 10px;
  cursor: pointer;
}
.home .home-btns a.btn-danger {
  background-color: hsl(250, 66%, 71%) !important;
  border-color: hsl(250, 66%, 71%) !important;
}
.home .home-btns a.btn-primary {
  background-color: transparent !important;
  border-color: hsl(250, 66%, 75%) !important;
}

/* Start About */
.about .about-image {
  background: linear-gradient(180deg, hsl(250, 66%, 71%), hsla(250, 66%, 71%, 0.2));
  border-radius: 20px;
  text-align: center;
}
.about .about-image img {
  height: 320px;
}
@media (max-width: 575px) {
  .about .about-boxes {
    padding: 0 20px;
  }
}
.about .about-boxes .box i {
  font-size: 30px;
  color: hsl(250, 66%, 71%);
}
.about .about-boxes .box .about-box-title {
  color: hsl(219, 15%, 95%);
}
.about .about-boxes .box .about-box-desc {
  color: hsl(219, 4%, 55%);
  margin: 0;
  font-size: 14px;
}
.about .about-desc {
  color: hsl(219, 4%, 55%);
}
.about .about-contact {
  background-color: transparent !important;
  border-color: hsl(250, 66%, 75%) !important;
  border-width: 2px;
  color: #fff;
}
.about .about-contact.hvr-rectangle-in:before {
  background-color: hsl(250, 66%, 75%);
}
.about .about-contact.btn {
  box-shadow: none !important;
}
@media (max-width: 1199px) {
  .about .about-contact {
    width: 150px;
    display: block;
    margin: auto;
  }
}
@media (max-width: 575px) {
  .about .about-contact {
    width: 50%;
    display: block;
    margin: auto;
  }
}

/* End About */
/* Start Skills */
.skills .skills-content .box .skills-title {
  color: hsl(250, 66%, 75%);
}
.skills .skills-content .box .skill-items div {
  display: flex;
  gap: 15px;
  align-items: center !important;
}
.skills .skills-content .box .skill-items div img, .skills .skills-content .box .skill-items div i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(180deg, hsl(250, 66%, 71%), hsla(250, 66%, 71%, 0.2));
  padding: 5px;
  filter: contrast(200%);
}
.skills .skills-content .box .skill-items div i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.skills .skills-content .box .skill-items div .skill-item-title {
  color: hsl(219, 15%, 95%);
  font-size: 13px;
  margin: 0 !important;
}

/* End Skills */
/* Start Personal */
.personal .personal-content .box .personal-title {
  color: hsl(250, 66%, 75%);
}
.personal .personal-content .box ul.personal-skills {
  line-height: 2.245 !important;
}
.personal .personal-content .box ul li {
  color: hsl(219, 4%, 55%);
  font-size: 14px;
  position: relative;
  transition: 0.4s ease-in-out;
  word-wrap: break-word;
}
.personal .personal-content .box ul li white-space:pre-wrap span {
  color: hsl(219, 15%, 95%);
  margin-right: 5px;
  font-size: 16px;
}
.personal .personal-content .box ul li:hover {
  padding-left: 20px;
}
.personal .personal-content .box ul li:hover::before {
  left: -2px;
}
.personal .info li::before {
  content: "\f054";
}
@media (max-width: 575px) {
  .personal .info li::before {
    top: 12px;
  }
}
.personal .info li span {
  color: hsl(219, 15%, 95%);
}
.personal .personal-skills li::before {
  content: "\f058";
}
@media (max-width: 575px) {
  .personal .personal-skills li::before {
    top: 12px;
  }
}

/* End Personal */
/* Start Services */
.services .services-content .experience-items {
  padding-left: 20px !important;
}
.services .services-content .experience-items .services-title {
  color: hsl(250, 66%, 75%);
}
.services .services-content .experience-items ul li {
  color: hsl(219, 4%, 55%);
  font-size: 14px;
  position: relative;
  margin-bottom: 20px;
}
.services .services-content .experience-items ul li::before {
  content: "\f14a";
}
@media (max-width: 575px) {
  .services .services-content .experience-items ul li::before {
    top: 12px;
  }
}
.services .services-content .box {
  text-align: center;
}
.services .services-content .box img {
  background: linear-gradient(180deg, hsl(250, 66%, 71%), hsla(250, 66%, 71%, 0.2));
  padding: 5px;
  filter: contrast(200%);
  border-radius: 20px;
}

/* End Services */
/* Start Portfolio */
.work .work-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.work .work-filters .work-item {
  color: hsl(219, 15%, 95%);
  padding: 10px 15px;
  border-radius: 10px;
  background-color: hsl(250, 66%, 75%);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.work .work-filters .work-item.active, .work .work-filters .work-item:hover {
  background-color: darkslateblue;
}
.work .work-container .work-card img {
  border-radius: 20px;
  height: 200px !important;
  width: 100% !important;
  margin-bottom: 20px;
}
.work .work-container .work-card h5 {
  color: hsl(219, 15%, 95%);
  height: 80px;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}
@media (max-width: 400px) {
  .work .work-container .work-card h5 {
    height: 95px;
  }
}
.work .work-container .work-card .work-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.work .work-container .work-card .work-links .code, .work .work-container .work-card .work-links .live {
  padding: 8px 10px;
  color: white;
  flex: 1;
  text-align: center;
  border-radius: 10px;
}
.work .work-container .work-card .work-links .code {
  background-color: hsl(250, 66%, 75%);
}
.work .work-container .work-card .work-links .live {
  background-color: cornflowerblue;
}

/* End Portfolio */
/* Start Contact */
.contact .contact-title {
  color: hsl(219, 15%, 95%);
}
.contact .contact-info .contact-item > i {
  color: hsl(219, 15%, 95%);
  font-size: 30px;
  margin-bottom: 15px;
}
.contact .contact-info .contact-item h5 {
  color: hsl(219, 15%, 95%);
}
.contact .contact-info .contact-item p {
  color: hsl(219, 4%, 55%);
  word-wrap: break-word;
  white-space: pre-wrap;
}
.contact .contact-info .contact-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: hsl(250, 66%, 75%);
  transition: 0.4s ease-in-out;
}
.contact .contact-info .contact-item a:hover {
  color: hsl(250, 66%, 71%);
}
.contact form div {
  margin-bottom: 20px;
  width: 90%;
  margin: 0 auto 30px;
}
.contact form div input, .contact form div textarea {
  width: 100%;
  padding: 20px;
  background-color: transparent;
  color: hsl(219, 4%, 55%);
  border: 2px solid hsl(219, 4%, 55%);
  border-radius: 15px;
  outline: none;
}
.contact form div label {
  color: #babec4;
  font-size: 18px;
  position: absolute;
  z-index: 2;
  top: -13px;
  left: 26px;
  background-color: #0b111e;
  padding: 0 7px;
}
.contact form div textarea {
  height: 180px;
}
.contact form div textarea::-moz-placeholder, .contact form div input::-moz-placeholder {
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.contact form div textarea::placeholder, .contact form div input::placeholder {
  transition: 0.4s ease-in-out;
}
.contact form div textarea:focus::-moz-placeholder, .contact form div input:focus::-moz-placeholder {
  opacity: 0;
}
.contact form div textarea:focus::placeholder, .contact form div input:focus::placeholder {
  opacity: 0;
}
.contact form button[type=submit] {
  background-color: hsl(250, 66%, 75%);
  padding: 10px 30px;
  color: hsl(219, 15%, 95%);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  display: block;
  width: 150px;
  margin: auto;
  transition: 0.4s ease-in-out;
}
.contact form button[type=submit]:hover {
  background-color: hsl(250, 66%, 71%);
}

/* End Contact */
/* Start Footer */
footer {
  background-color: hsl(250, 66%, 75%);
  padding: 70px 0;
  overflow: hidden;
}
footer h1 {
  color: hsl(219, 48%, 8%);
  margin-bottom: 20px;
}
footer .footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}
footer .footer-links a {
  width: 50px;
  height: 50px;
  background-color: hsl(219, 48%, 8%);
  border-radius: 10px;
  color: hsl(219, 15%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-links a i {
  font-size: 25px;
  color: hsl(219, 4%, 55%);
  transition: 0.4s ease-in-out;
}
footer .footer-links a:hover i {
  color: hsl(219, 15%, 95%);
}
footer .copyright {
  color: hsl(219, 48%, 8%);
  font-size: 15px;
  letter-spacing: 2px;
}
footer .copyright span {
  color: hsl(219, 15%, 95%);
}

/* End Footer */
/* navbar open */
.navbar-open {
  position: fixed;
  display: block;
  background-color: cornflowerblue;
  color: hsl(219, 15%, 95%);
  width: 40px;
  height: 40px;
  border-radius: 7px;
  cursor: pointer;
  right: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: 0.4s ease-in-out;
  z-index: 999;
}

.hidden {
  transform: scale(0) !important;
}

.visible {
  transform: scale(1) translate(-50%) !important;
}

/* start scroll to top */
.scroll-to-top {
  width: 40px;
  height: 40px;
  display: block;
  position: fixed;
  bottom: 20px;
  right: -60px;
  background-color: darkslateblue;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  z-index: 999;
  transition: 0.6s ease-in-out;
  font-size: 23px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* end scroll to top */
/* scrollbar */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(219, 4%, 55%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(219, 48%, 8%);
}

body.light-theme {
  background-color: #fafafa;
}
body.light-theme .section-subtitle {
  color: hsl(219, 48%, 8%);
}
body.light-theme header {
  background-color: #484b6a;
}
body.light-theme .home-social-link {
  background-color: #484b6a !important;
}
body.light-theme .home-greeting {
  color: hsl(219, 48%, 8%);
}
body.light-theme .home-title {
  color: hsl(219, 48%, 8%) !important;
}
body.light-theme .home-name {
  color: hsl(250, 66%, 75%) !important;
}
body.light-theme a.btn-primary {
  color: hsl(250, 66%, 75%) !important;
}
body.light-theme .about-boxes .box {
  background-color: #484b6a;
}
body.light-theme .about-contact {
  color: hsl(219, 48%, 8%);
}
body.light-theme .about-box-desc {
  color: #aaa !important;
}
body.light-theme .skills-content .box {
  background-color: #484b6a;
}
body.light-theme .personal-content .box {
  background-color: #484b6a;
}
body.light-theme .personal-content .box ul li {
  color: #aaa !important;
}
body.light-theme .experience-items {
  background-color: #484b6a !important;
}
body.light-theme .experience-items ul li {
  color: #aaa !important;
}
body.light-theme .work-card {
  background-color: #484b6a !important;
}
body.light-theme .contact-title {
  color: hsl(219, 48%, 8%);
}
body.light-theme .contact-item {
  background-color: #484b6a !important;
}
body.light-theme .contact-item p {
  color: #aaa !important;
}
body.light-theme label {
  background-color: #484b6a !important;
  border-radius: 5px;
}
body.light-theme .about, body.light-theme .personal, body.light-theme .work {
  background-color: #eee;
}
body.light-theme .footer-links a {
  background-color: #484b6a !important;
}

.skills {
  padding-bottom: 0 !important;
}/*# sourceMappingURL=style.css.map */